/* Color custom properties */

.product-card-wrapper .card,
.contains-card--product {
  --border-radius: var(--product-card-corner-radius);
  --border-width: var(--product-card-border-width);
  --border-opacity: var(--product-card-border-opacity);
  --shadow-horizontal-offset: var(--product-card-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--product-card-shadow-vertical-offset);
  --shadow-blur-radius: var(--product-card-shadow-blur-radius);
  --shadow-opacity: var(--product-card-shadow-opacity);
  --shadow-visible: var(--product-card-shadow-visible);
  --image-padding: var(--product-card-image-padding);
  --text-alignment: var(--product-card-text-alignment);
}

.collection-card-wrapper .card,
.contains-card--collection {
  --border-radius: var(--collection-card-corner-radius);
  --border-width: var(--collection-card-border-width);
  --border-opacity: var(--collection-card-border-opacity);
  --shadow-horizontal-offset: var(--collection-card-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--collection-card-shadow-vertical-offset);
  --shadow-blur-radius: var(--collection-card-shadow-blur-radius);
  --shadow-opacity: var(--collection-card-shadow-opacity);
  --shadow-visible: var(--collection-card-shadow-visible);
  --image-padding: var(--collection-card-image-padding);
  --text-alignment: var(--collection-card-text-alignment);
}

.article-card-wrapper .card,
.contains-card--article {
  --border-radius: var(--blog-card-corner-radius);
  --border-width: var(--blog-card-border-width);
  --border-opacity: var(--blog-card-border-opacity);
  --shadow-horizontal-offset: var(--blog-card-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--blog-card-shadow-vertical-offset);
  --shadow-blur-radius: var(--blog-card-shadow-blur-radius);
  --shadow-opacity: var(--blog-card-shadow-opacity);
  --shadow-visible: var(--blog-card-shadow-visible);
  --image-padding: var(--blog-card-image-padding);
  --text-alignment: var(--blog-card-text-alignment);
}

.contains-content-container,
.content-container {
  --border-radius: var(--text-boxes-radius);
  --border-width: var(--text-boxes-border-width);
  --border-opacity: var(--text-boxes-border-opacity);
  --shadow-horizontal-offset: var(--text-boxes-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--text-boxes-shadow-vertical-offset);
  --shadow-blur-radius: var(--text-boxes-shadow-blur-radius);
  --shadow-opacity: var(--text-boxes-shadow-opacity);
  --shadow-visible: var(--text-boxes-shadow-visible);
}

.contains-media,
.global-media-settings {
  --border-radius: var(--media-radius);
  --border-width: var(--media-border-width);
  --border-opacity: var(--media-border-opacity);
  --shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--media-shadow-vertical-offset);
  --shadow-blur-radius: var(--media-shadow-blur-radius);
  --shadow-opacity: var(--media-shadow-opacity);
  --shadow-visible: var(--media-shadow-visible);
}

.lsn_button_style{
  border: 1px solid var(--color-base-text);
    border-radius: 21px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-base-text);
    text-decoration: none;
    padding: 10px 22px;
    display: inline-block;
    background: transparent;
      -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    margin-top: 30px;
}
.lsn_button_style:hover{
    color: var(--color-primary-button-text);
    background-color: rgb(var(--color-primary-button-background));
    border-color: rgb(var(--color-primary-button-background));
}
.lsn__heading{
      display: block;
    margin-top: 12px;
    margin-bottom: 30px;
   font-size: 20px;
    line-height: 130%;
}
.lsn-description p{
  font-size: 18px;
    line-height: 34px;
    margin: 0;
}
.bdr_bottom{
  border-bottom: 0.5px solid #005A87;
}
.lsn-video{
  overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  margin: 15px 0;
}
.lsn-video iframe,
.lsn-video video{
  left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    border: none;
}

@media screen and (min-width: 1025px) {
  .lsn__heading{
     font-style: normal;
    font-size: 34px;
    line-height: 100%;
  }

}
@media screen and (max-width: 1024px) and (min-width: 750px){
  .lsn__heading{
     font-style: normal;
    font-size: 28px;
    line-height: 121%;
    margin-bottom: 22px;
  }
  .lsn-description p{
  font-size: 18px;
    line-height: 22px;
}
}
@media screen and (max-width: 749px) {
.lsn__heading {
    margin-top: 8px;
    margin-bottom: 18px;
}
   .lsn-description p{
  font-size: 16px;
    line-height: 18px;
}
}

