.lsn-slideshow .desktop-hero{
  
}

@media screen and (min-width: 1025px) {
  .lsn-slideshow .tablet-hero,
  .lsn-slideshow .mobile-hero{
        display: none !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 750px){
  .lsn-slideshow .desktop-hero,
  .lsn-slideshow .mobile-hero{
        display: none !important;
  }
}

@media screen and (max-width: 749px) {
  .lsn-slideshow .desktop-hero,
  .lsn-slideshow .tablet-hero{
        display: none !important;
  }
}