.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 25px auto 0;
  max-width: 60rem;
}
.lsn_newsletter__wrapper .heading {
      font-weight: 700;
    font-size: 56px;
    line-height: 42px;
  letter-spacing: 0.01em;
    margin-top: 0;
    margin-bottom: 25px;
}
.newsletter-form__field-wrapper .field__input:focus{
      box-shadow: none;
}
.newsletter-form__field-wrapper .field:after,
.newsletter-form__field-wrapper .field:before{
  display:none;
}
.newsletter-form__field-wrapper input{
  border:1px solid;
}
.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  margin-top: 0;
  margin-right: 25px;
  height: 55px;
  border-radius: 5px;
  background: transparent;
}

.newsletter-form__field-wrapper .field__label{
  top: 18px;
}
.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  height: 100%;
  z-index: 2;
  background: #E8581B;
  position: relative;
  border-radius: 5px;
  height: 55px;
  width: 160px;
  font-size: 18px;
  font-family: inherit;
}
