.lsn-header{
  margin-bottom: 40px 
}
.lsn-logo-list .lsn__eyebrow{
    font-size: 28px;
    line-height: 34px;
      margin: 0;
}
.lsn-logo-list .lsn__heading{
      text-transform: uppercase;
      margin: 10px 0;
}
.lsn-list-logo-item{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 20px;
}
.lsn-list-logo-item .lsn-wrapp_image {
    display: block;
    position: relative;
    overflow: hidden;
}
.lsn-list-logo-item .lsn-wrapp_image img {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%);
    -webkit-transform: translate(-50%,0%);
    -moz-transform: translate(-50%,0%);
    -o-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
}

@media screen and (max-width: 1024px) and (min-width: 750px){
  .lsn-logo-list .lsn__eyebrow {
    font-size: 24px;
    line-height: 34px;
}
   .lsn-description{
    max-width: 464px;
    margin: auto;
}
}
@media screen and (max-width: 749px){
    .lsn-description{
    max-width: 328px;
          margin: auto;
    }
    .lsn-logo-list .lsn__eyebrow {
    font-size: 18px;
    line-height: 34px;
    }
}

