.lsn-slideshow .banner__heading.h0{
  letter-spacing: 0.01em;
text-transform: uppercase;
}
.lsn-slideshow .slideshow__slide.slider__item{
   position: relative;
}
.lsn-slideshow .slideshow__media{
  position: relative;
}
.lsn-slideshow .slideshow__text-wrapper{
  position: absolute;
  left: 50%;
  width: 100%;
  height: 100%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lsn-slideshow .slideshow__media svg{
   position: relative !important;
   min-height: 80vh;
   object-fit: cover;
}
.lsn-slideshow .slideshow__media img{
     position: relative !important;
    width: 100% !important;
    height: auto !important;
    max-height: calc(100vh - 100px);
    object-fit: cover;
    min-height: 80vh;
}
.lsn-slideshow .banner__buttons{
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;
}

.slideshow__text .anchor_link a{
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  padding-left: 15px;
  position: relative;
}
.slideshow__text .anchor_link a svg{
  display: block;
  position: relative;
  left: -13px;
  transition: all 150ms ease-out;
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -ms-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
}
.lsn-slideshow .slick-dots{
      position: absolute;
    list-style: none;
    padding: 0;
       bottom: 32px;
    width: 100%;
    text-align: center;
    margin: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.lsn-slideshow .slick-dots li{
      margin: 0 6px;
}
.lsn-slideshow .slick-dots li button{
      font-size: 0;
    overflow: hidden;
    width: 15px;
    height: 16px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    background: transparent;
}
.lsn-slideshow .slick-dots li.slick-active button{
  background: #fff;
}
@media screen and (min-width: 1025px) {
  .lsn-slideshow .tablet-hero,
  .lsn-slideshow .mobile-hero{
        display: none !important;
  }
  .lsn-slideshow .banner__heading.h0{
    font-size: 56px;
    line-height: 55px;
  }
  .lsn-slideshow .banner__buttons{
    font-size: 28px;
    line-height: 36px;
  }
  .slideshow__text .anchor_link a{
    font-size: 24px;
    line-height: 31px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 750px){
  .lsn-slideshow .desktop-hero,
  .lsn-slideshow .mobile-hero{
        display: none !important;
  }
  .lsn-slideshow .banner__heading.h0{
    font-size: 40px;
    line-height: 42px;
  }
   .lsn-slideshow .banner__buttons{
      font-size: 22px;
      line-height: 28px;
  }
  .slideshow__text .anchor_link a{
    font-size: 20px;
    line-height: 26px;
  }
}

@media screen and (max-width: 749px) {
  .lsn-slideshow .desktop-hero,
  .lsn-slideshow .tablet-hero{
        display: none !important;
  }
  .lsn-slideshow .banner__heading.h0{
    font-size: 30px;
    line-height: 32px;
  }
   .lsn-slideshow .banner__buttons{
    font-size: 18px;
    line-height: 23px;
  }
   .slideshow__text .anchor_link a{
    font-size: 18px;
    line-height: 23px;
  }
  .slideshow__text .anchor_link {
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 539px) {
  .lsn-slideshow .slideshow__media img {
      max-height: calc(90vh - 100px);
  }
}

slideshow-component {
  position: relative;
  display: flex;
  flex-direction: column;
}
.slideshow__text .anchor_link{
      margin-top: 3.5rem;
}
.slideshow__text .anchor_link a:hover svg{
    left: -5px;
   -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -ms-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
}
@media screen and (max-width: 989px) {
  .no-js slideshow-component .slider {
    padding-bottom: 3rem;
  }
}

slideshow-component .slideshow.banner {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  gap: 0;
}

.slideshow__slide {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 749px) {
  .slideshow--placeholder.banner--mobile-bottom.banner--adapt_image .slideshow__media,
  .slideshow--placeholder.banner--adapt_image:not(.banner--mobile-bottom) {
    height: 28rem;
  }
}

@media screen and (min-width: 750px) {
  .slideshow--placeholder.banner--adapt_image {
    height: 56rem;
  }
}

.slideshow__text.banner__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 54.5rem;
}

.text-style .slideshow__text > * {
  max-width: 100%;
      color: #fff;
}
.slideshow__text .anchor_link svg > *{
      stroke: #000;
    stroke-opacity: 1;
}
.text-style .slideshow__text .anchor_link svg > *{
      stroke: #fff;
    stroke-opacity: 1;
}


@media screen and (max-width: 749px) {
  slideshow-component.page-width .slideshow__text {
    border-right: var(--text-boxes-border-width) solid rgba(var(--color-foreground), var(--text-boxes-border-opacity));
    border-left: var(--text-boxes-border-width) solid rgba(var(--color-foreground), var(--text-boxes-border-opacity));
  }

  .banner--mobile-bottom .slideshow__text.banner__box {
    max-width: 100%;
  }

  .banner--mobile-bottom .slideshow__text-wrapper {
    flex-grow: 1;
  }

  .banner--mobile-bottom .slideshow__text.banner__box {
    height: 100%;
  }

  .banner--mobile-bottom .slideshow__text .button {
    flex-grow: 0;
  }

  .slideshow__text.slideshow__text-mobile--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__text.slideshow__text-mobile--right {
    align-items: flex-end;
    text-align: right;
  }
}

@media screen and (min-width: 750px) {
  .slideshow__text.slideshow__text--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__text.slideshow__text--right {
    align-items: flex-end;
    text-align: right;
  }
}


.slideshow:not(.banner--mobile-bottom) .slideshow__text-wrapper {
  height: 100%;
}

@media screen and (min-width: 750px) {
  .slideshow__text-wrapper.banner__content {
    height: 100%;
    padding: 5rem;
  }
}

.slideshow__controls {
  border: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.slideshow__controls--top {
  order: 2;
  z-index: 1;
}

@media screen and (max-width: 749px) {
  .slideshow__controls--border-radius-mobile {
    border-bottom-right-radius: var(--text-boxes-radius);
    border-bottom-left-radius: var(--text-boxes-radius);
  }
}

.spaced-section--full-width:last-child slideshow-component:not(.page-width) .slideshow__controls {
  border-bottom: none;
}

slideshow-component:not(.page-width) .slider-buttons {
  border-right: 0;
  border-left: 0;
}

.slideshow__control-wrapper {
  display: flex;
}

