.lsn-popup{
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.lsn-popup .wrapper-popup{
    display: block;
}
.lsn-popup .lsn-popup-image{
  
}
.lsn-popup .lsn-popup-image img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.lsn-popup .lsn-popup-content{
  display: block;
  padding: 60px;
}
.lsn-popup .lsn-popup-content .popup__heading{
  display: block;
  margin: 0;
  margin-bottom: 5px;
  letter-spacing: 0;
  font-size: 5.6rem;
  color: rgb(var(--color-primary-button-background));
}
.lsn-popup .lsn-popup-content .popup_text{
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
.lsn-popup .lsn-popup-content .lsn_email-form button{
  display: block;
  width: 100%;
  margin-top: 10px;
}

@media screen and (min-width: 750px) {
  .lsn-popup .wrapper-popup{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
}
  .lsn-popup .lsn-popup-image{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
  }
  .lsn-popup .lsn-popup-content{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
  }
}
@media screen and (max-width: 749px) {
  .lsn-popup .lsn-popup-content {
    padding: 30px;
  }
}