.lsn-video-fullWidth{
    display: block;
    position: relative;
    width: 100%;
}
.lsn-video-fullWidth .video-section__media{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    border-radius: 20px;
}
.lsn-video-fullWidth .video-section__media iframe,
.lsn-video-fullWidth .video-section__media video{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    object-fit: cover;
  border: none;
}

.lsn-video-fullWidth .video_caption{
    width: 100%;
    text-align: center;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 1000px;
    padding: 0 20px;
}
.lsn-video-fullWidth.text_style_light .video_caption span,
.lsn-video-fullWidth.text_style_light .video_caption h2{
    color: #ffffff;
}
.lsn-video-fullWidth.text_style_dark .video_caption span,
.lsn-video-fullWidth.text_style_dark .video_caption h2{
    color: #000000;
}
@media screen and (min-width: 1120px){

}
@media screen and (min-width: 750px){
  .lsn-video-fullWidth .video-section-small{
    display:none;
  }

}
@media screen and (max-width: 1119px){

.lsn-video-fullWidth .video_caption a {
    margin: 0 auto 40px;
}
.lsn-video-fullWidth .video_caption h2 {
    margin-bottom: 30px;
}
}
@media screen and (max-width: 749px){
  .lsn-video-fullWidth .video-section-large{
    display:none;
  }
  .lsn-video-fullWidth .video_caption a {
      margin-bottom: 0;
  }
  .lsn-video-fullWidth .video_caption {
      top: 80px;
  }
}
