.lsn-video-fullWidth{
    display: block;
    position: relative;
    width: 100%;
}
.lsn-video-fullWidth .video-section__media{
    overflow:hidden;
    position:relative;
    height:0;
    border-radius: 20px;
}
.lsn-video-fullWidth .video-section__media iframe,
.lsn-video-fullWidth .video-section__media video{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    object-fit: cover;
  border: none;
}
.lsn-video-fullWidth .lsn-sub-with-line{
      margin-bottom: 15px;
}
.lsn-video-fullWidth .lsn__eyebrow{
   position: relative;
}
.lsn-video-fullWidth .lsn__eyebrow:before{
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background: #000;
    left: calc(100% + 10px);
    top: 50%;
}
.lsn-video-fullWidth .lsn__eyebrow:after{
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background: #000;
    right: calc(100% + 10px);
    top: 50%;
}
.lsn-video-fullWidth.text_style_light .lsn__eyebrow:before,
.lsn-video-fullWidth.text_style_light .lsn__eyebrow:after{
   background: #fff;
}
.lsn-video-fullWidth .video_caption{
    width: 100%;
    text-align: center;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 1200px;
    padding: 0 80px;
}
.lsn-video-fullWidth.text_style_light .video_caption span,
.lsn-video-fullWidth.text_style_light .video_caption h2{
    color: #ffffff;
}
.lsn-video-fullWidth.text_style_light .lsn_button_style{
   color: #ffffff;
  border-color:#fff;
      margin-top: 20px;
}
.lsn-video-fullWidth.text_style_light .lsn_button_style:hover{
      color: var(--color-primary-button-text);
    background-color: rgb(var(--color-primary-button-background));
    border-color: rgb(var(--color-primary-button-background));
}
.lsn-video-fullWidth.text_style_dark .video_caption span,
.lsn-video-fullWidth.text_style_dark .video_caption h2{
    color: #000000;
}
.lsn-video-fullWidth .lsn_button_style{
      margin: 0;
}
@media screen and (min-width: 750px){
  .video-height--use_screen_one_third .video-section__media{
       padding-bottom:20vh;
  }
  .video-height--use_screen_one_half .video-section__media{
       padding-bottom:40vh;
  }
  .video-height--use_screen_two_thirds .video-section__media{
       padding-bottom:60vh;
  }
  .video-height--use_screen_three_quarters .video-section__media{
       padding-bottom:78vh;
  }
  .video-height--use_screen_full .video-section__media{
       padding-bottom:92vh;
  }

}
@media screen and (max-width: 1024px){
  .lsn-video-fullWidth .video_caption{
        padding: 0 40px;
  }
}

@media screen and (max-width: 749px){
  .lsn-video-fullWidth .video_caption{
        padding: 0 20px;
  }
    .lsn-video-fullWidth .lsn__eyebrow:before,
  .lsn-video-fullWidth .lsn__eyebrow:after {
    width: 40px;
  }
  .lsn-video-fullWidth .video-section__media {
    padding-bottom: calc(100vh - 120px);
}

}
