
.lsn--multi-column{
  
}

@media screen and (min-width: 750px){
  .lsn--multi-column .lsn-multicolumn-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 749px){

}