.lsn-section-faq .lsn-faqs{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.lsn-section-faq .lsn-faqs .sum_heading{
    -ms-flex: 0 0 42%;
    flex: 0 0 42%;
    max-width: 42%;
    position: relative;
    padding-right: 40px;
}
.lsn-section-faq .lsn-faqs .lsn-faq_content{
    -ms-flex: 0 0 58%;
    flex: 0 0 58%;
    max-width: 58%;
    position: relative;
}
.lsn-section-faq .lsn-faq_body .faq-item {
    border-top: 0.5px solid #005A87;
}
.lsn-section-faq .lsn-faq_content .lsn-faq-question{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  color: #005A87;
    letter-spacing: 0.01em;
    margin: 0;
    padding: 19px 0;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  position: relative;
}
.lsn-section-faq .lsn-faq_content .lsn-faq-question.open{
      border-bottom: 0.5px solid #005A87;
}
.lsn-section-faq .lsn-js-faq-body{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
        padding: 20px;
}
.lsn-section-faq .lsn-js-faq-body p {
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin: 0;
}
.lsn-section-faq .sum_heading .lsn__eyebrow {
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin: 0;
}
.lsn-section-faq .sum_heading .header_cap {
       font-size: 34px;
    line-height: 34px;
    font-weight: 600;
    display: block;
    margin: 10px 0 0;
    color: #005A87;
}
.lsn-section-faq .lsn-faq-item.open .lsn-js-faq-body{
  display: block;
}
.lsn_faq_img img{
  width: 100%;
  max-width: 100%;
}
.lsn-section-faq .lsn-faq_body{
      padding: 20px 0;
}
.lsn-section-faq .lsn-faq_content .lsn-faq-question.open svg{
        transition: transform .3s ease-out;
}
.lsn-section-faq .lsn-faq_content .lsn-faq-question .icon-minus,
.lsn-section-faq .lsn-faq_content .lsn-faq-question.open .icon-plus{
  display: none;
}
.lsn-section-faq .lsn-faq_content .lsn-faq-question.open .icon-minus{
  display: block;
}
@media screen and (max-width: 1024px) and (min-width: 750px){
  .lsn-section-faq .sum_heading .header_cap {
    font-size: 28px;
    line-height: 34px;
  }
}
@media screen and (max-width: 749px){
  .lsn-section-faq .sum_heading .header_cap {
    font-size: 24px;
    line-height: 34px;
  }
}

