.lsn_banner_heading{
  position: relative;
  overflow: hidden;
  display: block;
}
.lsn_banner_heading .banner__content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lsn_banner_heading .banner__media{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.lsn_banner_heading .banner__media *{
  display: block;
  width: 100%;
}
.lsn_banner_heading{
  
}

@media screen and (min-width: 750px){
  .lsn_banner_heading.banner--medium .banner__content .page-width{
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 749px){
  .lsn_banner_heading.banner--medium .banner__content .page-width{
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
}