.lsn-slideshow .desktop-hero{
  
}
.lsn-slideshow .slideshow__slide.slider__item{
   position: relative;
}
.lsn-slideshow .slideshow__media{
  position: relative;
}

.lsn-slideshow .slideshow__media img{
     position: relative !important;
    width: 100% !important;
    height: auto !important;
    max-height: calc(100vh - 100px);
    object-fit: cover;
}

@media screen and (min-width: 1025px) {
  .lsn-slideshow .tablet-hero,
  .lsn-slideshow .mobile-hero{
        display: none !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 750px){
  .lsn-slideshow .desktop-hero,
  .lsn-slideshow .mobile-hero{
        display: none !important;
  }
}

@media screen and (max-width: 749px) {
  .lsn-slideshow .desktop-hero,
  .lsn-slideshow .tablet-hero{
        display: none !important;
  }
}