
.lsn--multi-column{
  display: block;
    padding: 40px 0;
}
.lsn--multi-column .center-button{
  
}
 .lsn--multi-column .lsn-multicolumn-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-top: 40px;
  }
.lsn--multi-column .wrapp_image{
      display: block;
    position: relative;
    overflow: hidden;
}
.lsn--multi-column .wrapp_image svg,
.lsn--multi-column .wrapp_image img{
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

@media screen and (min-width: 1025px){
  .lsn--multi-column .multicolumn-caption{
        padding: 0 10px;
  }
}
@media screen and (min-width: 750px){
  .lsn--multi-column .lsn-multicolumn-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 749px){

}