.cart {
  position: relative;
  display: block;
}
/******************************
 Cart Page
*******************************/

.panels-total{
  display: flex;
  justify-content: space-between;
      flex-direction: column;
}
cart-items{
      width: calc(100% - 35%);
}
.cart-total {
  display: flex;
  justify-content: flex-end;
  .table {
    margin: 0 !important;
    td + td {
      width: 15%;
      min-width: 130px;
    }
  }
}

.cart-page .cart-bottom{
  margin:0;
  min-width: min(100%, 300px);
  align-self: flex-start;
}

.route-checkout-cart {
  #shopping-cart{
    table {
      tbody {
        .td-qty {
          .input-group {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0 !important;
          }
          .input-group-btn {
            width: auto;
          }
        }
        .td-name{
          min-width: 150px;
          white-space: normal;
          a{
            margin-bottom: 4px;
            display: inline-block;
          }
          small:first-of-type{
            display: inline-block;
            margin-top: 3px;
          }
        }
      }
      tr td {
        min-width: 90px;
        vertical-align: middle;
      }
    }
  }
  .cart-panels{
    flex: 1;
    p {
      margin-bottom: 10px;
    }
  }

  #error-not-found{
    #content {
      flex-direction: column;
    }
  }
  .cart-page{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    > * {
      max-width: 100%;
      flex-grow: 1;
    }
  }
}
.route-checkout-cart .cart-panels .panel-group .accordion-title:after {
    content: '\e40b';
    font-family: icomoon !important;
    font-size: 1.2em;
    order: 10;
    margin: 0 0 0 auto;
      position: absolute;
    right: 0;
}
.template-cart .route-checkout-cart{
      display: flex;
    --sticky-top-distance-custom: 170px;
    --cart-bottom-width: 33%;
    --cart-bottom-space: 32px;
    gap: var(--cart-bottom-space);
}
.template-cart .route-checkout-cart .cart__footer{
    position: sticky;
    top: var(--sticky-top-distance-custom,0);
    z-index: 90;
  max-width: 100%;
    flex-grow: 1;
      margin: 0;
   width: 35%;
    align-self: flex-start;
      background-color: rgba(233,235,237,1);
    --background-color: rgba(233,235,237,1);
    padding: clamp(24px,3.5vmin,36px);
    --element-padding: clamp(24px,3.5vmin,36px);
    border-radius: 4px;
}
.route-checkout-cart .cart-panels {
    flex: 1;
}
.route-checkout-cart .cart-panels .title{
      margin: 0;
      font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: clamp(15px,2vw + 1px,18px);
    color: rgba(44,46,53,1);
    letter-spacing: -.4px;
    margin-bottom: 24px !important;
    white-space: normal;
    overflow: initial;
    text-overflow: initial;
    -webkit-line-clamp: initial;
    -webkit-line-clamp: 2;
}
.route-checkout-cart .cart-panels .panel-group .accordion-title{
    justify-content: flex-start;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgba(105,114,120,1);
    padding-top: 1.2em;
    --element-padding-top: 1.2em;
    padding-bottom: 1.2em;
    --element-padding-bottom: 1.2em;
      position: relative;
      cursor: pointer;
}
.route-checkout-cart .cart-panels .panel-group .accordion-title:hover{
color: rgba(21,96,189,1);
}
.route-checkout-cart .cart-panels .form-group .control-label, .route-checkout-cart .cart-panels .form-label {
    padding-right: 4px;
    --element-padding-right: 4px;
    justify-content: flex-start;
    align-items: center;
}
.route-checkout-cart .cart-panels .control-label {
    max-height: 42px;
}
.route-checkout-cart .cart-panels label, .route-checkout-cart .cart-panels .form-group .control-label, .route-checkout-cart .cart-panels .form-label {
    font-size: 13px;
    color: rgba(105,114,120,1);
}
.route-checkout-cart .form-group form {
    display: flex;
    flex-wrap: wrap;
}
.route-checkout-cart .cart-panels input.form-control {
    font-size: 14px !important;
    color: rgba(44,46,53,1) !important;
    background-color: rgba(255,255,255,1) !important;
    --background-color: rgba(255,255,255,1) !important;
    padding: 4px;
    --element-padding: 4px;
    padding-left: 10px;
    --element-padding-left: 10px;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgba(224,226,230,1) !important;
    border-radius: 4px !important;
    min-height: 42px;
}
.input-group .input-group-btn {
    align-self: stretch;
    width: auto;
      display: flex;
}
.input-group .input-group-btn:last-child>.btn, .input-group .input-group-btn:last-child>.btn-group {
    margin: 0;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.route-checkout-cart .cart-panels .input-group .btn, .route-checkout-cart .cart-panels .input-group-btn .btn {
    min-width: 38px;
    padding: 0.8em !important;
    --element-padding: .8em !important;
    border-radius: 4px !important;
    min-height: 38px;
}
.route-checkout-cart .cart-panels .form-group .control-label{
  max-width: 100px;
}


.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: left;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 0;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 4rem 0 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 0rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  height: fit-content;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 100%;
  }

  .cart__footer > * + * {
    margin-left: 0;
    margin-top: 0;
  }
}

.cart__ctas button {
    width: 100%;
    max-width: 100%;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
      margin: 0 !important;
}
.cart__ctas button:hover {
    box-shadow: none !important;
    transform: none !important;
    transition: none !important;
}
.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: left;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
    margin-top: 32px;
    --element-margin-top: 32px;
    --page-buttons-width: 500px;
    --page-buttons-gap: 12px;
    transition: all .1s ease-out;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: none;
    gap: var(--page-buttons-gap, 10px);
}
.cart__ctas .btn{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    -webkit-text-decoration: none;
    letter-spacing: -.2px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em;
    --element-padding: 1em;
    padding-right: 2em;
    --element-padding-right: 2em;
    padding-left: 2em;
    --element-padding-left: 2em;
    box-shadow: 0.3px 0.5px 0.7px hsl(0deg 0% 0%/0.1), 0.4px 0.8px 1px -1.2px hsl(0deg 0% 0%/0.1), 1px 2px 2.5px -2.5px hsl(0deg 0% 0%/0.1);
    line-height: 1;
    border-radius: 100px;
      margin: 0 !important;
}
.btn.btn-default.continue{
      color: rgba(105,114,120,1);
    background-color: rgba(255,255,255,0);
    --background-color: rgba(255,255,255,0);
  border-width: 1px;
    border-style: solid;
    box-shadow: none;
}
.btn.btn-default.continue:hover{
  border-color: rgba(21,96,189,1);
    color: rgba(21,96,189,1) !important;
    background-color: rgba(255,255,255,0);
    --background-color: rgba(255,255,255,0);
    box-shadow: none;
}

.btn.btn-warning.btn-block{
        color: rgba(255,255,255,.9);
    background-color: rgba(239,86,45,1);
    --background-color: rgba(239,86,45,1);
}
.btn.btn-warning.btn-block:hover{
      color: rgba(255,255,255,.9) !important;
    background-color: rgba(218,114,129,1);
    --background-color: rgba(218,114,129,1);
}
.btn.btn-warning.btn-block:hover span{
  color: rgba(255,255,255,.9) !important;
      text-decoration: none;
}
@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

}
