.lsn_block-testimonials .wrapper_testimonials{
    display: block;
    text-align: center;
    padding: 82px 0;
}
.lsn_block-testimonials .sum_testimonials{
    display: block;
    margin: 0 auto;
    max-width: 800px;
}
.lsn_block-testimonials .sum_testimonials span{
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 25px;
    font-weight: 500;
    display: block;
}
.lsn_block-testimonials .sum_testimonials div{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    display: block;
}
.lsn_block-testimonials .sum_testimonials .lsn-style-btn{
    margin-top: 35px;
}
.lsn_block-testimonials .slick-dots{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    gap: 6px;
}
.lsn_block-testimonials .slick-dots li button{
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
}
.lsn_block-testimonials .slick-dots li.slick-active button{
    background-color: #8f8e8e;
}

@media screen and (max-width: 1024px) {
    .lsn_block-testimonials .wrapper_testimonials {
        padding: 50px;
    }
    .lsn_block-testimonials .sum_testimonials div {
        font-size: 20px;
        line-height: 35px;
    }
}
@media screen and (max-width:749px) {
    .lsn_block-testimonials .wrapper_testimonials {
        padding: 80px 20px;
    }
    .lsn_block-testimonials .page-width{
        padding: 0;
    }  
}
@media screen and (max-width:379px) {
.lsn_block-testimonials .sum_testimonials div {
    font-size: 20px;
    line-height: 32px;
 }
}