announcement-component{
  overflow: hidden;
  display: block;
}
.announcement-bar__item{
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.25px;
    margin: 0;
    font-family: var(--font-heading-family);
}

@media screen and (max-width: 1024px) and (min-width: 750px){
  .announcement-bar__item{
    font-size: 16px;
    line-height: 20px;
  }

}
@media screen and (max-width: 749px){
    .announcement-bar__item{
      font-size: 14px;
      line-height: 18px;
    }

}