.lsn-collection-grid{
  
}
.lsn-collection-grid .wrapper-collection-grid{
      display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(-webkit-min-content,-webkit-max-content) minmax(-webkit-min-content,-webkit-max-content) minmax(-webkit-min-content,-webkit-max-content);
    grid-template-rows: minmax(min-content,max-content) minmax(min-content,max-content) minmax(min-content,max-content);
    grid-template-areas:
        "featured subfeatured-1"
        "featured subfeatured-2"
        "featured subfeatured-3"
        "featured subfeatured-4"
        "featured .";
    gap: 18px 24px;
}
.lsn-collection-grid .wrapper-collection-grid .collection_item{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item .collection_image{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item .collection_image img{
      display: block;
    width: 100%;
    position: relative;
}
.lsn-collection-grid .wrapper-collection-grid .collection_item .collection_image svg{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item .collection-name{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item{
  
}

@media screen and (min-width: 1025px) {
}

@media screen and (min-width: 750px) {

}

@media screen and (max-width: 739px) {
}