.lsn-collection-grid{
  
}
.lsn-collection-grid .wrapper-collection-grid{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item .collection_image{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item .collection_image img{
      display: block;
    width: 100%;
    position: relative;
}
.lsn-collection-grid .wrapper-collection-grid .collection_item .collection_image svg{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item .collection-name{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item{
  
}

@media screen and (min-width: 1025px) {
}

@media screen and (min-width: 750px) {

}

@media screen and (max-width: 739px) {
}