announcement-component{
  overflow: hidden;
  display: block;
}
.announcement-bar__item{
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0px;
    margin: 0;
    font-family: var(--font-heading-family);
}
