.lsn-collection-grid{
  
}
.lsn-collection-grid .wrapper-collection-grid{
      display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(-webkit-min-content,-webkit-max-content) minmax(-webkit-min-content,-webkit-max-content) minmax(-webkit-min-content,-webkit-max-content);
    grid-template-rows: minmax(min-content,max-content) minmax(min-content,max-content) minmax(min-content,max-content);
    grid-template-areas:
        "featured-col-1 featured-col-1 featured-col-1 featured-col-2 featured-col-2 featured-col-3 featured-col-3 featured-col-3"
        "featured-col-1 featured-col-1 featured-col-1 featured-col-4 featured-col-4 featured-col-4 featured-col-4 featured-col-4";
    gap: 15px;
}
.lsn-collection-grid .wrapper-collection-grid .position-item-1{
  
}
.lsn-collection-grid .wrapper-collection-grid .position-item-2{
  
}
.lsn-collection-grid .wrapper-collection-grid .position-item-3{
  
}
.lsn-collection-grid .wrapper-collection-grid .position-item-4{
  
}
.lsn-collection-grid .wrapper-collection-grid .position-item-5{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item .collection_image{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item .collection_image img{
      display: block;
    width: 100%;
    position: relative;
}
.lsn-collection-grid .wrapper-collection-grid .collection_item .collection_image svg{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item .collection-name{
  
}
.lsn-collection-grid .wrapper-collection-grid .collection_item{
  
}

@media screen and (min-width: 1025px) {
}

@media screen and (min-width: 750px) {

}

@media screen and (max-width: 739px) {
}